/* I do not like css */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
}
.container {
  background-image: url('./assets/background.jpg');
  margin-top: 125px;
}
